/*
  font-family: 'Merriweather', serif
  font-family: 'Sacramento', cursive;
font-family: 'Montserrat', sans-serif; */

  body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
  }
/* Body style */

  .header-container {
    color: #008468;
    background-color: #95D1CC;
    text-align: right;
    padding-right: 5%;
    padding-top: 3%;
    font-family: 'Montserrat', sans-serif;
   min-height: 10vh;
   font-size: 150%;
   font-weight: 400;
   margin-bottom: 0px;
  }
  #linkedin-img{
    width: 1.6rem;
    margin: 0;
    margin-left: 10px;
    border-radius: 5px;
  }
/* Header style */
.landing-page-body{
  background-color: #95D1CC;
}
.landing-page-text{
  text-align: center;
  color: #008468;
  font-size: 2rem;
  font-weight: 400;
}
#name-text{
  font-weight: 400;
  font-size: 4rem;
  color: #008468;

}

#land-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#cloud-right {
  position: relative;
  width: 10%;
  animation: fly 10s infinite;
}

#cloud-left {
  position: relative;
    width: 10%;
  animation: flow 10s infinite;
}




/* Landing container style */

/*
  Animations */


  @keyframes fly {
    0% {
      left: 85%;
      top: 100px;
    }

    25% {
      left: 75%;
      top: 30px;
    }

    50% {
      left: 65%;
      top: 100px;
    }

    75% {
      left: 75%;
      top: 30px;
    }

    100% {
      left: 85%;
      top: 100px;
    }

  }
  @keyframes flow {
    0% {
      left: 0%;
      bottom: 0px;
    }

    25% {
      left: 15%;
      bottom: 20px;
    }

    50% {
      left: 25%;
      bottom: 50px;
    }

    75% {
      left: 15%;
      bottom: 20px;
    }

    100% {
      left: 0%;
      bottom: 0px;
    }

  }
